# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* List of popular languages for Data Science
* List of popular libraries for Data Science
* Table of popular Tools for Data Science
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. NumPy
4. Matplotlib

|Data Science Tools|
|-|
|Weka|
|Java-ML|
|Deeplearning4|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Juliane Schlierkamp